<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>AngularJS Test app</title>
    <link rel="stylesheet" href="assets/css/app.css"/>
    <script src="assets/js/app.js"></script>

  </head>

<body>
  Testing Angular: 

<label>Name:</label>
   <input type="text" ng-model="yourName" placeholder="Enter a name here">
   <hr>
   <h1>Hello {{yourName}}!</h1>
</body>

</html>
